@model CommunicationsApp.Web.Models.ChannelOverviewVM

<div>
    <div class="d-flex flex-row">
        <p class="flex-grow-1 fw-bold">@Model.Channel.Name</p>
        <p>Channel code: @Model.Channel.Code</p>

        <div class="dropdown-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Members
            </button>
            <ul class="dropdown-menu">
                @foreach (var member in Model.Channel.Members)
                {
                    <li>@member.UserName (@member.Email)</li>
                }
            </ul>
        </div>
    </div>
    <div id="channelMessages">
        @if (!Model.Messages.Any())
        {
            <p>No messages ...</p>
        }
        else
        {
            @foreach (var message in Model.Messages)
            {
                <partial name="_MessagePartial" model="message" />
            }
        }
    </div>
    <form id="messageSendForm" asp-controller="Messages" asp-action="Create" asp-route-id="@Model.Channel.Id">
        <div class="input-group mt-3 mb-3">
            <input id="messageInput" type="text" class="form-control" placeholder="Write your message" />

            <button class="btn btn-outline-secondary" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                </svg>
            </button>
        </div>
    </form>
</div>