@using System.Security.Claims;
@model CommunicationsApp.Application.DTOs.Message
@{
    int currentUserId = int.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value);
    bool isCurrentUserTheSender = Model.User.Id == currentUserId;
}

<div id="openMessage@(Model.Id)" class="media media-chat @(isCurrentUserTheSender ? "media-chat-reverse" : "")">
    @if (!isCurrentUserTheSender)
    {
        <p>@Model.User.UserName</p>
    }

    @if (!Model.DeletedAt.HasValue)
    {
        <div class="dropup badge">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu">
                <li>
                    <form asp-controller="Messages" asp-action="Delete" asp-route-id="@Model.Id">
                        <input type="submit" value="Delete" class="dropdown-item text-danger" />
                    </form>
                </li>
            </ul>
        </div>
    }

    <div class="media-body">
        <p>@(Model.DeletedAt.HasValue ? "<span class=fst-italic>Message was deleted</span>" : Model.Text)</p>
        <p class="meta">@Model.CreatedAt.ToShortTimeString()</p>
    </div>
</div>