@using CommunicationsApp.Domain.Entities
@using CommunicationsApp.Application.Common.Enums
@model CommunicationsApp.Web.Models.ViewModels.MembersListVM


<li id="openChannelMember@(Model.ChannelMember.Member.Id)" class="dropdown-item d-flex flex-row gap-2">
    <p class="align-middle">
        <span class="fw-bold">
            @(Model.ChannelMember.Member.UserName == @User.Identity?.Name ? "You" : Model.ChannelMember.Member.UserName)
        </span> @Model.ChannelMember.Member.Email
    </p>

    @if (Model.IsGroupChannel && Model.CurrentUser.Role == ChannelRole.Owner && Model.ChannelMember.Role != ChannelRole.Owner)
    {
        <form class="deleteChannelMemberForm" data-member-id="@Model.ChannelMember.Member.Id"
          asp-controller="ChannelMembers"
          asp-action="RemoveMemberFromChannel"
          asp-route-channelId="@Model.ChannelMember.Channel.Id"
          asp-route-memberId="@Model.ChannelMember.Member.Id">
            <button type="submit" class="btn">
                <i class="fa-solid fa-xmark" style="color: #e11c0e;">
                    <span class="visually-hidden">Remove</span>
                </i>
            </button>
        </form>
    }
</li>